body {
	font-size: 13px;
	line-height: 1.4em;
	color: #333333;
	background: #eaeaea;
}

.btn,
.form-control {
	border-radius: 0;
}

.form-control:focus {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.form-horizontal div.date {
	width: 100%;
}

nav div.date {
	display: inline-block;
}

.row {
	padding: 5px 20px;
}

.row:hover {
	background: whitesmoke;
}

.row img {
	max-width: 100%;
}

.row h1 {
	margin: 15px 0;
	font-weight: 200;
	font-size: 5em;
	text-align: right;
}

.row p {
	margin-top: 20px;
	margin-bottom: 0;
}

.row h3 {
	margin-top: 0;
	font-size: 2.5em;
}